.wrapper {
    margin-left: 15px;
    width: 30px;
    flex: 0 0 auto;
    text-align: center;
}

.column {
    background-color: rgb(124, 181, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.chart {
    display: flex;
    align-items: flex-end;
    width: 980px;
    overflow-x: auto;
    margin: 0 auto;
    padding: 0 80px 0 10px;
    overflow-y: hidden;
    border-bottom: 2px solid;
    border-left: 2px solid;
}

.oy {
    position: fixed;
    width: 1100px;
    border-bottom: 1px dotted #ccc;
    z-index: -1;
}

::-webkit-scrollbar {
    /* width: 4px; */
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.box-filter {
    text-align: center;
    margin-top: 50px;
}

/* .column + .column {
    margin-left: 10px;
} */

/* .chart {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
.chart::-webkit-scrollbar {
    display: none; 
} */
